.flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.container {
  max-width: 1200px;
  margin: auto; }

.line {
  border-bottom: 1px solid #dadada;
  padding-top: 6px; }

#header {
  padding: 6px 0px 7px 0px; }

.banner {
  padding-top: 15px;
  text-align: center;
  position: relative;
  background: white; }
  .banner .close {
    position: absolute;
    top: 18px;
    right: 120px;
    cursor: pointer; }

.icon1 {
  color: #e74c3c !important;
  background: url(https://stc-id.nixcdn.com/v11/images/icon-repeat.png) 26px -4094px no-repeat;
  background-image: url(https://stc-id.nixcdn.com/v11/images/icon-repeat.png);
  background-position-x: 26px;
  background-position-y: -4094px;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  padding-right: 17px !important; }

.header-icon {
  margin-left: auto;
  width: 180px; }

.list {
  width: 500px;
  margin-left: 15px; }

.search-icon {
  background: #2f80ed;
  position: relative;
  left: 240px;
  top: -40px;
  padding: 10px;
  border-radius: 5px; }

.search-input {
  height: 40px;
  width: 279px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #2f80ed;
  padding: 5px; }

.search {
  width: 299px;
  height: 40px;
  padding: 0px 20px; }

.title {
  padding: 0;
  color: #333333 !important;
  font-size: 15px;
  /* su dung important de danh dau css nay quan trong
                    can duoc uu tien */ }

.dropdown {
  padding: 30px;
  margin-top: 21px;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99;
  background: white;
  position: absolute; }

.dropdown li {
  width: 140px; }

.dropdown a {
  margin-bottom: 15px;
  color: black;
  font-size: 14px;
  font-weight: bold; }

.dropdown li:hover a {
  color: #2daaed; }

.dropdown ul {
  padding-top: 30px; }

.dropdown li ul li {
  margin-bottom: 15px; }

.list a {
  font-size: 14px;
  color: #222222; }

.list a:hover {
  color: #2daaed; }

.big-list:hover .dropdown {
  display: flex; }

.big-list {
  position: relative;
  padding: 20px; }

.title-child-list.title:hover {
  color: #2f80ed !important; }
