block header
    header#header
        .container
            .hearder.flex
                .logo
                    a(href=""): img(src="https://stc-id.nixcdn.com/v11/images/header_new/logo_new.png", alt="")
                .list
                    ul.flex
                        li.big-list: a(href="") Bài hát
                            ul.dropdown
                                li
                                    a(href="") VIỆT NAM
                                    ul
                                        li
                                            a(href="") Nhạc Trẻ
                                        li
                                            a(href="") Nhạc Trữ Tình
                                        li
                                            a(href="") Remix Việt
                                        li
                                            a(href="") Rap Việt
                                        li  
                                            a(href="") Tiền Chiến
                                        li
                                            a(href="") Nhạc Trịnh
                                        li
                                            a(href="") Rock Việt
                                        li
                                            a(href="") Cách Mạng
                                
                                li
                                    a(href="") ÂU MỸ
                                    ul
                                        li
                                            a(href="") Pop
                                        li
                                            a(href="") Rock
                                        li
                                            a(href="") Electronica/Dance
                                        li
                                            a(href="") R&B/HipHop/Rap
                                        li
                                            a(href="") Blues/Jazz
                                        li
                                            a(href="") Country
                                        li
                                            a(href="") Latin
                                        li
                                            a(href="") Indie
                                        li
                                            a(href="") Âu Mỹ Khác
                                li
                                    a(href="") CHÂU Á
                                    ul
                                        li
                                            a(href="") Nhạc Hàn
                                        li
                                            a(href="") Nhạc Hoa
                                        li
                                            a(href="") Nhạc Nhật
                                        li
                                            a(href="") Nhạc Thái
                                li
                                    
                                    a(href="") KHÁC
                                    ul
                                        li
                                            a(href="") Thiếu Nhi
                                        li
                                            a(href="") Không Lời
                                        li
                                            a(href="") Beat
                                        li
                                            a(href="") Thể Loại Khác
                                        li
                                            a(href="") Tui Hát
                        li.big-list: a(href="") Playlist
                            ul.dropdown
                                li
                                    a(href="") VIỆT NAM
                                    ul
                                        li
                                            a(href="") Nhạc Trẻ
                                        li
                                            a(href="") Nhạc Trữ Tình
                                        li
                                            a(href="") Remix Việt
                                        li
                                            a(href="") Rap Việt
                                        li  
                                            a(href="") Tiền Chiến
                                        li
                                            a(href="") Nhạc Trịnh
                                        li
                                            a(href="") Rock Việt
                                        li
                                            a(href="") Cách Mạng
                                li
                                    a(href="") ÂU MỸ
                                    ul
                                        li
                                            a(href="") Pop
                                        li
                                            a(href="") Rock
                                        li
                                            a(href="") Electronica/Dance
                                        li
                                            a(href="") R&B/HipHop/Rap
                                        li
                                            a(href="") Blues/Jazz
                                        li
                                            a(href="") Country
                                        li
                                            a(href="") Latin
                                        li
                                            a(href="") Indie
                                        li
                                            a(href="") Âu Mỹ Khác

                                li
                                    a(href="") CHÂU Á
                                li
                                    a(href="") KHÁC
                        li.big-list: a(href="") Tuyển tập
                            ul.dropdown
                                li
                                    a(href="") THỂ LOẠI
                                    ul
                                        li
                                            a(href="") Nhạc Trẻ
                                        li
                                            a(href="") Nhạc Trữ Tình
                                        li
                                            a(href="") Pop
                                        li
                                            a(href="") Nhạc Hàn
                                        li  
                                            a(href="") Nhạc Hoa
                                        li
                                            a(href="") Nhạc Trịnh
                                        li
                                            a(href="") Soundtrack
                                        li
                                            a(href="") Không lời
                                li
                                    a(href="") TÂM TRẠNG
                                    ul
                                        li
                                            a(href="") Buồn
                                        li
                                            a(href="") Hưng phấn
                                        li
                                            a(href="") Electronica/Dance
                                        li
                                            a(href="") R&B/HipHop/Rap
                                        li
                                            a(href="") Blues/Jazz
                                        li
                                            a(href="") Country
                                        li
                                            a(href="") Latin
                                        li
                                            a(href="") Indie
                                        li
                                            a(href="") Âu Mỹ Khác

                                li
                                    a(href="") KHUNG CẢNH
                                li
                                    a(href="") CHỦ ĐỀ
                        li.big-list: a(href="") Video
                        li.big-list: a(href="") BXH
                        li.big-list: a(href="") Chủ đề
                        li.big-list: a(href="") Top 100
                        li.big-list: a(href="") Nghệ sĩ
                        li.big-list.dots: a(href=""): img(src="./img/dots.png", alt="")
                            
                .header-icon
                    ul.flex
                        li
                            a(href=""): img(src="https://stc-id.nixcdn.com/v11/images/header_new/avartar_none_login.png", alt="")
                        li
                            a(href=""): img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_VIP_new.png", alt="")
                        li
                            a(href=""): img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_head_new.png", alt="")
                        li
                            a(href=""): img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_upload_new.png", alt="")
                .search
                    input.search-input(type="text",placeholder=" Tìm bài hát")
                    a(href=""): img.search-icon(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_search_new.png", alt="")
        .line
        .container
            .banner
                a(href=""): img(src="https://stc-nas.nixcdn.com/v4/ads/2019/04/05/1554448957127-DVj63GuTWw8CoY.jpg", alt="")
                .close
                    img(src="https://stc-nas.nixcdn.com/v4/ads/2017/03/28/1490676980999-9jsGuS7R6TCahl.png", alt="")
